<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myGeoCoordinateLabel">Create or edit a Geo Coordinate</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!geoCoordinate.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="geoCoordinate.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_lat">Lat</label>
            <input type="number" class="form-control" name="lat" id="field_lat"
                [(ngModel)]="geoCoordinate.lat"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_lon">Lon</label>
            <input type="number" class="form-control" name="lon" id="field_lon"
                [(ngModel)]="geoCoordinate.lon"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_location">Location</label>
            <select class="form-control" id="field_location" name="location" [(ngModel)]="geoCoordinate.location" >
                <option [ngValue]="null"></option>
                <option [ngValue]="locationOption.id === geoCoordinate.location?.id ? geoCoordinate.location : locationOption" *ngFor="let locationOption of locations; trackBy: trackLocationById">{{locationOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
